html{
  font-family: Roboto, Sans-sarif;
}

body{
  background-color: #fafafa;
}

h3{
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
}
h6{
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.54);
}

.app-bar{
  background-color: #009688;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}


.app-bar__left h1 {

  color: #fff;
  font-size: 20px;
  line-height: 28px;
  margin-left: 16px;
  margin-top: 14px;

}

button{
  background-color: transparent;
  border: 0;
}

.icon-btn{
  padding:0;
}

.section-header{
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: #009789;
  padding: 14px 16px;
  box-sizing: border-box;
}



